.employeesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.employeesList__item {
    width: 250px;
    margin-bottom: 45px;
}

.employeesList__item-letter {
    margin-bottom: 5px;
}