.employees {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between ;
}

.employees__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
}

.employees__birthday {
    max-width: 450px;
}

.employees__list h2,
.employees__birthday h2 {
    text-align: center;
}

.employees__birthday h2 {
    margin-bottom: 40px;
}

.employees__birthday h3 {
    padding-left: 20px;
}