.header {
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    padding: 0 15px;
    width: 1500px;
}

.header__nav a + a {
    margin-left: 15px;
}
